
#header{
    background-color: black;
    color:white;
    height:50px;
    padding-top:15px;
    padding-bottom:10px;
    padding-left:10px;
}


a{
    margin-right:120px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

a:hover{
    color:#FF5D73;
}

#logo{
    font-family:calibri;
    font-size:30px;
    font-weight:bold;
    color:#FF5D73;
}

button{
    background-color:#FF5D73;
    color:black;
    border:none;
    font-family:calibri;
    width:50px;
    height:24px;
    font-weight:550;
    border-radius:3px;
}

button:hover{
    background-color:#ff5d73d9;
    color:rgba(0, 0, 0, 0.882);
}

#searchbox{
    border:none;
    height: 22px;
    border-radius:2px;
}

main{
    font-family: sans-serif;
}

footer {
    background-color: grey;
    text-align:center;
}

#backtotop{
    text-decoration:none;
    margin:0px;
}
backtotop:hover{
    color:white;
}

#mainheading{
    background-color:#FF5D73;
    border-radius:5px;
    margin-left:50px;
    width:750px;
    text-align:center;
}

.heading{
    background-color: grey;
    margin:auto;
    text-align:center;
    width:500px;
    margin-bottom:5px;
    padding:5px;
    border-radius:10px;
}


.content{
    background-color:#494949;
    margin:auto;
    color:white;
    padding:10px;
    border-radius:10px;
    margin:0px 50px;
    margin-bottom:30px;
    line-height:30px;
}

body{
    background-color: black;
}